# Dependencies
node_modules/
package-lock.json

# Electron
dist/
out/
.electron/

# Settings
electron-app/.electron-store

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Temp
tmp/
temp/





